
<p-card header="Employee Form" [style]="{'width': '35rem', 'margin-top': '2em'}">

<div class="p-field p-col-10 p-md-2">
        <label for="icon">Calendar</label>
        <p-calendar  [showIcon]="true" inputId="icon"></p-calendar>
</div>
    <br>

<div class="card">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-6">
      <label for="firstname6">Firstname</label>
      <input id="firstname6" type="text" pInputText [(ngModel)]="angajat.Firstname" />
    </div>
    <br>
    <div class="p-field p-col-12 p-md-6">
      <label for="lastname6">Lastname</label>
      <input id="lastname6" type="text" pInputText  [(ngModel)]="angajat.Lastname"/>
    </div>
    <br>
    <div class="p-field p-col-12">
      <label for="address">Address</label>
      <textarea id="address" type="text" rows="4" pInputTextarea [(ngModel)]="angajat.Address"></textarea>
    </div>
    <br>
    <div class="p-field p-col-12 p-md-6">
      <label for="city">City</label>
      <input id="city" type="text" pInputText [(ngModel)]="angajat.City"/>
    </div>
    <br>
    <br>
    <div class="p-field p-col-12 p-md-3">
      <label for="zip">Zip</label>
      <input id="zip" type="text" pInputText [(ngModel)]="angajat.Zip"/>
    </div>
    <br>
  </div>
</div>
<br>

<button pButton type="button" label="Save" (click)="onBasicUploadAuto(angajat)"></button>

</p-card>

<div>
  <li>1</li>
  <li>2</li>
  <li>3</li>
</div>

<div>
  <li *ngFor="let form of allForms">
    {{form.selectedState}}
    {{form.Firstname}}
    {{form.Lastname}}
    {{form.Address}}
    {{form.Zip}}
    {{form.City}}
  </li>
</div>